:root {
  --bg: #242526;
  --bg-accent: hsl(0deg 0% 25%);
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid var(--bg-accent);
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: 0;
}

.navbar {
  color: var(--text-color);
  height: var(--nav-size);
  width: 100%;
  background-color: var(--bg);
  border-bottom: var(--border);
}

.navbar-nav {
  padding: 0 1rem;
  color: var(--text-color);
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-accent);
  background-position: center;
  background-image: radial-gradient(circle, transparent 1%, rgb(90 90 90 / 12%) 1%);
  background-size: 12000%;
  transition: filter 300ms, background 800ms;
}

.icon-button:hover {
  filter: brightness(1.3);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-button:active {
  background-color: var(--bg-accent);
  transition: background 0s;
  background-size: 0%;
}
